[Desktop Entry]
Version=0.7.0
Encoding=UTF-8
Name=Gitso
Comment=Connect to others using VNC protocol
Exec=gitso.py
Icon=gitso.png
Terminal=false
MimeType=application/x-remote-connection;
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Network;RemoteAccess;
