[Desktop Entry]
Version=0.7.0
Encoding=UTF-8
Name=RemoteH
Comment=Connect to others using VNC protocol
Exec=remoteh.py
Icon=remoteh.svg
Terminal=false
MimeType=application/x-remote-connection;
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Network;RemoteAccess;
